.container-component-search {
  .search-item-group {
    .search-item-group-container {
      position: relative;
      &::before {
        position: absolute;
        left: -13px;
        bottom: 20px;
        width: 7px;
        height: calc(100% - 40px);
        border: 1px solid #bdbdbd;
        border-right: none;
        border-radius: 2px;
        content: "";
      }
    }
    .search-item {
      .search-item-and-divider {
        justify-content: center;
        text-align: center;
        padding: 8px 0 11px 0;
        font-weight: 400;
      }
      & > div {
        display: flex;
        .ant-select {
          width: 250px;
          height: 40px;
          margin-right: 10px;
          .ant-select-selector {
            background: #ededed;
            border: 1px solid #e2e2e5;
            height: 100%;
            .ant-select-selection-search {
              input {
                height: 100%;
              }
            }
            .ant-select-selection-item {
              align-self: center;
            }
          }
        }
        .search-target-select {
          .ant-select-selector {
            .ant-select-selection-item {
              font-weight: 700;
            }
          }
        }
        .search-value-input {
          width: 250px;
          height: 40px;
        }
        .search-item-operation-buttons {
          display: flex;
          align-items: center;
          margin-left: 10px;
          .operation-button {
            width: 30px;
            height: 30px;
            color: red;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              width: 12px;
              height: 12px;
            }
          }
          .plus-button {
            background: #00a786;
            margin-right: 10px;
            &:hover {
              background: #008369;
            }
          }
          .close-button {
            background: #bdbdbd;
          }
          .close-button-enable {
            background: #f84a51;
          }
        }
      }
    }
    .search-item-or-divider {
      span {
        background-color: unset;
        border-color: unset;
        padding: 0 14px;
        color: #5f6a73;
      }
    }
  }
  .ant-divider {
    margin-top: 11px;
    margin-bottom: 15px;
    .ant-divider-inner-text {
      padding: 0;
      background: #00a786;
      border-color: #00a786;
      border-radius: 100px;
      margin: 0;
      .divider-button {
        width: 50px;
        height: 20px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 6px;
        }
      }
    }
  }
}
.container-component-search {
  .search-item-group {
    .search-item {
      div {
        .number-option {
          display: flex;
          align-items: center;
          flex-direction: row;
          .search-value-input {
            width: 150px;
          }
          .search-first-interval-value-input {
            width: 450px;
            height: 40px;
          }
          .number-filter-option {
            width: 100px;
            img {
              width: 16px;
              height: 16px;
            }
          }

          .plus-button {
            background: #00a786;
            margin-right: 10px;
            margin-left: 10px;
            &:hover {
              background: #008369;
            }
          }
          .operation-button {
            width: 30px;
            height: 30px;
            color: red;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
.ant-select-item-option-content {
  img {
    width: 16px;
    height: 16px;
  }
}

.time-interval {
  display: flex;
  flex-direction: row;
  .ant-picker {
    width: 300px;
    margin-right: 10px;
  }
}
